@import url('//fonts.googleapis.com/earlyaccess/notosansjapanese.css');

* {
  margin: 0;
  padding: 0;
}
::selection {
  background: rgba(0, 0, 0, 0);
}
html {
  height: 100%;
}
body {
  height: 100%;
  overflow: hidden;
  font-family: 'Noto Sans Japanese', serif;
}
a {
  color: #222222;
  &:hover {
    text-decoration: none;
  }
}
.contents {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}
.page-title {
  line-height: 1.25;
  margin-bottom: 0.25em;
  padding: 0 1em;
  color: #cc0000;
  font-size: 5vmax;
  letter-spacing: 0.06em;
}
p {
  line-height: 1.75;
  margin-top: 1em;
  padding: 0 1em;
  font-size: 2.25vmin;
  letter-spacing: 1px;
  @media (max-width: 768px) {
    font-size: 1.8vmax;
  }
}
#canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
